.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px ;
}





.senha-div{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;

}

.senha-div  p{
    margin: 0;
}