body{
    margin: 0px;
    padding: 0px;
}

footer {
    font-family: 'Inter', sans-serif;
    height: 30vh;
    margin-top: 5%;
    background-color: black;
    color: white;
}

#main-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
}

#footer-title{
    margin-top: 25px;
    font-weight: bold;
    margin-bottom: 0;
}



#foot-icons img{
    width: 30px;
}

#main-footer p {
    font-family: 'Julius Sans One', sans-serif;
    margin: 0;
}