body{
    font-family: 'Julius Sans One', sans-serif;
}

/* ---------------------------- HEADER ------------------------------------*/
header {
    background-color: #0a0a6c;
}

header img {
    height: 80px;
}

#branco-logo{
    padding-left: 25px;
}

.main-header{
    display: flex;
    align-items: center;
    gap: 60px;
}

#nav {
    padding: 0px;
}

.container-fluid {
    background-color: #0a0a6c;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.navbar {
    background-color: #5493f2;
    border-radius: 5px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar  li {
    margin-right: 30px;
}

.form-busca {
    display: flex;
    align-items: center;
}

#busca {
    height: 25px;
    width: 250px;
}

::placeholder{
    font-size: 13px;
}

#navbarSupportedContent {
    height: 35px;
    width: 65vw;
    padding-left: 10px;
    padding-right: 10px;
}

#navbarSupportedContent a {
    font-size: 13px;
    font-weight: bold;

}

#navbarSupportedContent button {
    height: 25px;
    padding: 0px;
    background-color:#5493f2;
    border: 0;
}
.navbar button img{
    height: 25px;
}

#navbar-btn {
    width: 100px;
}

#navbar-btn:hover {
    cursor: pointer;
}

.sub-navbar {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 2%;
}


